.main-content {
    margin-left: 260px;
    padding: 2rem;
    min-height: 100vh;
    transition: margin 0.3s ease;
    background-color: #F3F4F6;
}

@media (max-width: 991.98px) {
    .main-content {
        margin-left: 0;
        padding: 1rem;
        padding-top: 4.5rem;
    }
}